{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col7 col-md-6 my-auto">
                <h1 class="display-4 logo-font text-black">
                    My latest additions are here
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block footer %}

  <!-- Footer -->
<div>
  <footer class="bg-dark text-center text-white fluid-container">
 
    <div class="container p-4">
      <section class="mb-4">
        {% for link in social_media %}
          <a class="btn btn-outline-light btn-floating m-1" href="{{ link.url }}" target="_blank" role="button"
            ><i class="{{ link.icons }}"></i
          ></a>
        {% endfor %}
      </section>

      <section class="mb-4">   
        <h5 class="text-uppercase">About Me</h5>
        {% for text in footer %}
        <p>
            {{ text.bio }}
        </p>

        {% endfor %}
      </section>

  
    
  
    </div>

  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022 Copyright:
      <a class="text-white" href="https://github.com/lolaedun">Lola</a>
    </div>
    <!-- Copyright -->
</footer>
  <!-- Footer -->
</div>

{% endblock %}