<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=price&direction=desc" class="dropdown-item">By Newness</a>
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="books-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Books & Paper
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="books-link">
                <a href="{% url 'products' %}?category=books" class="dropdown-item">Books</a>
                <a href="{% url 'products' %}?category=cards" class="dropdown-item">Cards</a>
                <a href="{% url 'products' %}?category=templates" class="dropdown-item">Templates</a>
                <a href="{% url 'products' %}?category=books,cards,templates" class="dropdown-item">All Books & Paper</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="accessories-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Accessories
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="accessories-link">
                <a href="{% url 'products' %}?category=toys" class="dropdown-item">Toys</a>
                <a href="{% url 'products' %}?category=jewellery" class="dropdown-item">Jewellery</a>
                <a href="{% url 'products' %}?category=home_practice" class="dropdown-item">Home Practice</a>
                <a href="{% url 'products' %}?category=toys,jewellery,home_practice" class="dropdown-item">All Accessories</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=new_arrivals" class="dropdown-item">New Arrivals</a>
                <a href="{% url 'products' %}?category=deals" class="dropdown-item">Deals</a>
                <a href="{% url 'products' %}?category=clearance" class="dropdown-item">Clearance</a>
                <a href="{% url 'products' %}?category=new_arrivals,deals,clearance" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>